<hr style="border:5px solid #108999"> </hr>

# Python Parctice Questions <hr style="border:4.5px solid #108999"> </hr>

## Variables & Data Type

WAP to take input 2 number and print their sum

In [142]:
Num1=int(input("Enter the first number "))
Num2=int(input("Enter the second number "))

print("Sum of 2 numbers is :", Num1+Num2)

Enter the first number 1
Enter the second number 2
Sum of 2 numbers is : 3

WAP to input side of square and print its area

In [6]:
Side=float(input("Enter the side of sq. "))

print("Area of the square is :", Side**2)

Enter the side of sq. 10.5
Area of the square is : 110.25

WAP to take input 2 float value and print their avg.

In [10]:
Num1=float(input("Enter the first number "))
Num2=float(input("Enter the second number "))

print("The avg. of 2 numbers are :" ,(Num1+Num2)/2)

Enter the first number 20.5
Enter the first number 22.5
The avg. of 2 numbers are : 21.5

WAP to input 2 int number a and b
Print True if a is greater then b, False if not

In [12]:
a=int(input("Enter the first number "))
b=int(input("Enter the second number "))

if(a>b):
    print("True")
else:
    print("False")

Enter the first number 10
Enter the second number 2
True

## Strings and Conditions

WAP to check if a number entered by user is Even or Odd

In [15]:
num=int(input("Enter the number "))

if(num%2==0):
    print("The number is Even")
else:
    print("The number is Odd")

Enter the number 22
The number is Even

Find the greatest of 3 number entered by the user

In [19]:
num1=int(input("Enter the first number "))
num2=int(input("Enter the second number "))
num3=int(input("Enter the third number "))

if(num1>num2 and num1>num3):
    print("The gratest number among three  is :", num1)
elif(num2>num3):
    print("The gratest number among three  is :", num2)
else:
    print("The gratest number among three  is :", num3)

Enter the first number 11
Enter the second number 200
Enter the third number 12
The gratest number among three  is : 200

WAP to check if a number is multiple of 7 or not

In [21]:
num=int(input("Enter the number "))

if(num%7==0):
    print(num, " is a multiple of 7")
else:
    print(num, " is not a multiple of 7")

Enter the number 77
77  is a multiple of 7

## Data Structure

WAP to ask user to enter the name of their 3 movie and store them in a list

In [23]:
movie=[]

movie1=input("Enter your 1st Fav movie ")
movie.append(movie1)

movie2=input("Enter your 2nd Fav movie ")
movie.append(movie2)

movie3=input("Enter your 3rd Fav movie ")
movie.append(movie3)

print("Your Fav movies are :", movie)

Enter your 1st Fav movie Main Hu Na
Enter your 2nd Fav movie Insteller
Enter your 3rd Fav movie 3 idiots
Your Fav movies are : ['Main Hu Na', 'Insteller', '3 idiots']

WAP to check if a list contains a palindrome elements

In [32]:
List1=[1,2,3,3,2,1]

List2=List1.copy()
List2.reverse()

if(List1==List2):
    print("Yes, This list contains a palindrome elements ")
else:
    print("No, This list does not contains a palindrome elements ")

Yes, This list contains a palindrome elements

WAP to count the number of student grade "A" in the following tuple

In [33]:
tuple1=("C","D","A","A","B","B","A")

tuple1.count("A")

3

Sort the follwing list from "A" To "D"

In [44]:
List1=["C","D","A","A","B","B","A"]
List1.sort()
List1

['A', 'A', 'A', 'B', 'B', 'C', 'D']

Store the following word meaning in a python Dictionary

table: "a piece of Furniture","list of facts and figures"
cat: "a small animal"

In [47]:
word_meaning={"table":["a piece of Furniture","list of facts and figures"],
              "cat": "a small animal"
             }

word_meaning

{'table': ['a piece of Furniture', 'list of facts and figures'],
 'cat': 'a small animal'}

You are given a list of subject of students.Assume 1 classroom is required for 1 subject.How amany classroom are needed by students
"python","java","C++","python","javascript","java","python","java","C++","C"

In [48]:
Subject={"python","java","C++","python","javascript","java","python","java","C++","C"}
len(Subject)

5

WAP to enter marks of 3 subjects from the user and store them in a dict. Start with an empty dict and add one by one. Use subject name as key and marks as value.

In [54]:
marks={}

Phys=input("Enter the Physics marks ")
Chem=input("Enter the Chemistry marks ")
Bio=input("Enter the Biology marks ")

marks["Physics"]=Phys
marks["Chemistry"]=Chem
marks["Biology"]=Bio

marks

Enter the Physics marks 90
Enter the Chemistry marks 99
Enter the Biology marks 98

{'Physics': '90', 'Chemistry': '99', 'Biology': '98'}

Figure out a way to store 9 and 9.0 as sperate value in a set

In [57]:
Values={("int",9),("float",9.0)}
Values

{('float', 9.0), ('int', 9)}

## Loops (while)

Print Number 1 To 10 (Using While loop)

In [1]:
i=1
while(i<=10):
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

Print Number 10 To 1 (Using While loop)

In [5]:
i=10
while(i>=1):
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1

print the multiplication table of number n

In [7]:
n=int(input("Enter the number "))

i=1

while(i<=10):
    print(n," * ", i, " = ", n*i)
    i+=1

Enter the number 9
9  *  1  =  9
9  *  2  =  18
9  *  3  =  27
9  *  4  =  36
9  *  5  =  45
9  *  6  =  54
9  *  7  =  63
9  *  8  =  72
9  *  9  =  81
9  *  10  =  90

Print the elements of list in loop
list2=[1,4,9,16,25,35,49,64,81,100]

In [21]:
list2=[1,4,9,16,25,35,49,64,81,100]
i=0

while (i<len(list2)):
    print(list2[i])
    i+=1

1
4
9
16
25
35
49
64
81
100

Search for number x in this tuple using loop
tuple1=(1,4,9,16,25,35,49,64,81,100)

In [36]:
x=int(input("Enter the number you want to search "))


tuple1=(1,4,9,16,25,35,49,64,81,100)


i=0

while i<len(tuple1):
    if(x==tuple1[i]):
        print("The number ", x ,"is at index", i)
    
    i+=1

Enter the number you want to search 25
The number  25 is at index 4

## Loop (for)

Print the elements of list in loop list2=[1,4,9,16,25,35,49,64,81,100]

In [40]:
list2=[1,4,9,16,25,35,49,64,81,100]

for i in range(len(list2)):
    print(list2[i])

1
4
9
16
25
35
49
64
81
100

Search for number x in this tuple using loop tuple1=(1,4,9,16,25,35,49,64,81,100)

In [43]:
x=int(input("Enter the number you want to search "))

tuple1=(1,4,9,16,25,35,49,64,81,100)

for i in range(len(tuple1)):
    if(tuple1[i]==x):
        print("The number", x,"is at index ", i)

Enter the number you want to search 4
The number 4 is at index  1

print number 1 to 10 using for and range

In [45]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

print number 10 to 1 using for and range

In [47]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

print multiplication table of n, using for and range

In [50]:
n=int(input("Enter the number"))
for i in range(1,11):
    print(n ," * ", i, " = ", n*i)

Enter the number9
9  *  1  =  9
9  *  2  =  18
9  *  3  =  27
9  *  4  =  36
9  *  5  =  45
9  *  6  =  54
9  *  7  =  63
9  *  8  =  72
9  *  9  =  81
9  *  10  =  90

WAP to find the sum of first n numbers, (while loop)

In [58]:
n=int(input("Enter the number "))

i=1
sum1=0
while(i<=n):
    sum1=sum1+i
    i+=1

sum1

Enter the number 10

55

WAP to find the factorial of first n number (using for loop)

In [63]:
n=int(input("Enter the number "))

i=1
fac=1

for i in range(1,n+1):
    fac=fac*i
    i+=1

fac

Enter the number 5

120

## Functions and recursion

WAF to print the len of the list (List in Parameter)

In [65]:
def lengthoflist(a):
    return (len(a))

In [67]:
list2=[1,4,9,16,25,35,49,64,81,100]
lengthoflist(list2)

10

WAF to print element of list in single line

In [71]:
def elements(li):
    for i in range(len(li)):
        print(li[i],end=" ")
        i+=1

In [73]:
list2=[1,4,9,16,25,35,49,64,81,100]
elements(list2)

1 4 9 16 25 35 49 64 81 100

WAF to find factorial no. of n

In [77]:
def fac(n):
    fact=1
    for i in range(1,n+1):
        fact=fact*i
    i+=1
    return fact

In [79]:
fac(5)

120

WAF to covert USD in INR

In [81]:
def convert(n):
    return(n*8.5)

In [83]:
convert(85)

722.5

## Recussion

Write a recursive function to find out factorial of n natural number

In [88]:
def facto(n):
    if(n==1):
        return
    return(n*fac(n-1))

In [90]:
facto(5)

120

Write a recursive function to calculate sum of n natural numbers

In [121]:
def cal_sum(n):
    if(n==0):
        return 0
    return cal_sum(n-1) + n

In [125]:
cal_sum(6)

21

Write a recursive function to print all element of list

In [140]:
def elements(list1,idx=0):
    if(idx==len(list1)):
        return 
    print(list1[idx])
    elements(list1,idx+1)

In [141]:
list2=[1,4,9,16,25,35,49,64,81,100]
elements(list2)

1
4
9
16
25
35
49
64
81
100