In [1]:
import pandas as pd
import numpy as np

C:\Users\Admin\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

1. Write a function to merge two sorted lists into a single sorted list.

In [2]:
def mer_list(a,b):
    a.extend(b)
    a.sort()
    return a

In [3]:
li1=[1,2,3]
li2=[3,5,3,2]
mer_list(li1,li2)

[1, 2, 2, 3, 3, 3, 5]

2. Write a function to find the common elements between two lists.

In [4]:
def common (a,b):
    a1=set(a)
    b1=set(b)
    return a1.union(b1)

In [5]:
li1=[1,2,3]
li2=[3,5,3,2]

common(li1,li2)

{1, 2, 3, 5}

3. Write a program to count the number of vowels in a given string.

In [6]:
def count_vowel(a):
    count=0
    vowel=["a","e","i","o","u"]
    for i in a:
        if (i in vowel):
            count+=1
    return count

In [7]:
count_vowel("Simran")

2

4. Write a program to check if a number is a perfect square.

In [8]:
def per_sq(a):
    for i in range(int(a/2)):
        if(i*i==a):
            is_perfectsq=True
            break
        else:
            is_perfectsq=False
    
    if(is_perfectsq==True):
        a= "Yes,This is a perfect square"
    else :
        a= "No, This is not a perfect square"
        
    return a

In [9]:
per_sq(10)

'No, This is not a perfect square'

5. Write a function to calculate the Fibonacci sequence up to the nth term.

In [10]:
def Fibonacci(n):
    lis=[0,1]
    while (n-1>=len(lis)):
        lis.append(lis[-1]+lis[-2])
    return lis

In [11]:
Fibonacci(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

6. Write a program to find the sum of digits of a number.

In [12]:
def sumdigit(n):
    a=str(n)
    sum1=0
    for i in a:
        p=int(i)
        sum1=sum1+p
    return sum1

In [13]:
sumdigit(111)

3

7. Write a program to print the first N prime numbers.

In [14]:
def is_prime(n):
    if n<2:
        return False
    for i in range(2,int(n/2)+1):
        if(n%i==0):
            return False
    return True

def n_prime(n):
    lis=[]
    num=2
    while (n>len(lis)):
        if is_prime(num):
            lis.append(num)
        num=num+1
    return lis

In [15]:
n_prime(4)

[2, 3, 5, 7]

8. Write a program to check if a string is an anagram of another string.

In [16]:
def anagram(a,b):
    if(len(a)!=len(b)):
        return False
    for i in a:
        if(a.count(i)!=b.count(i)):
            return False
    return True

In [17]:
anagram("biyi","iiyb")

True

9. Write a program to sort a list of strings by their lengths.

In [18]:
def len_sort(k):
    k.sort(key=len)
    return k

In [19]:
a=["hello","Sir","Mama"]
len_sort(a)

['Sir', 'Mama', 'hello']

10. Write a function to find the intersection of two lists.

In [20]:
def inter(a,b):
    a1=set(a)
    b1=set(b)
    x=a1.intersection(b1)
    return x

In [21]:
li1={11,22,44,33,55,33,33,44}
li2={99,66,33,33,44}

inter(li1,li2)

{33, 44}

11. Write a program to convert a list of tuples into a dictionary.

In [22]:
def list_to_dict(a):
    x=dict(a)
    return x

In [23]:
tuples_list = [("name", "Alice"), ("age", 25), ("city", "New York")]
list_to_dict(tuples_list)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

12. Write a function to rotate a list by n positions.

In [24]:
def rotation(li,n):
    n=n%len(li)
    return li[-n:] + li[:-n]

In [25]:
lis=[1,2,3,4]
rotation(lis,2)

[3, 4, 1, 2]

13. Write a program to find the longest word in a sentence.

In [26]:
def longest_word(li):
    return max(li,key=len)

In [27]:
li=["hello","man","ok"]
longest_word(li)

'hello'

14. Write a function to check if a list is sorted in ascending order.

In [28]:
def is_list_sorted(list1):
    list2=list1.copy()
    list2.sort()
    if(list1==list2):
        return "This is a sorted list"
    else:
        return "This is not a sorted list"

In [29]:
list1=[1,2,3,4,5]

is_list_sorted(list1)

'This is a sorted list'

15. Write a program to calculate the sum of squares of a list of numbers.

In [30]:
def sum_of_sq(list1):
    sum1=0
    for i in list1:
        a=i*i
        sum1+=a
    return sum1

In [31]:
list1=[1,2,3,4,5]

sum_of_sq(list1)

55

16. Write a function to check if a given string is a valid number (integer or float).

In [32]:
def check_number(a):
    try:
        float(a)
        return "This is a valid int/float"
    except:
        return "This is not a valid int/float"

In [33]:
check_number("800")

'This is a valid int/float'

17. Write a program to find the median of a list of numbers.

In [34]:
def find_median(list2):
    a=np.median(list2)
    return a

In [35]:
list1=[1,2,3,4,5]

find_median(list1)

3.0

18. Write a function to calculate the nth triangular number.

In [36]:
def n_triangular_number(n):
    if(n<1):
        return "The number should be positve integer"
    return n*(n+1)/2

In [37]:
n_triangular_number(4)

10.0

19. Write a program to count the frequency of each character in a string.

In [38]:
def count_str(a):
    count={}
    for item in a:
        count[item]=a.count(item)
    return count

In [39]:
count_str("Helloo")

{'H': 1, 'e': 1, 'l': 2, 'o': 2}

20. Write a function to remove all occurrences of a specific element from a list.

In [40]:
def remove_value(li,va):
    c=li.count(va)
    a=1
    while(a<=c):
        li.remove(va)
        a+=1
    return li

In [41]:
list1=[1,2,2,3,3,2,2,2,2,2]
remove_value(list1,3)

[1, 2, 2, 2, 2, 2, 2, 2]

21. Write a program to reverse the words in a string without reversing the characters.

In [42]:
def reversewords(a):
    x=a.split()
    return x[: :-1]

In [43]:
sen="This is a sentence"
reversewords(sen)

['sentence', 'a', 'is', 'This']

22. Write a program to merge multiple dictionaries into one.

In [44]:
def merge_dict(*d):
    new_dict={}
    for i in d:
        new_dict.update(i)
    return new_dict

In [45]:
dict1={'a':1,'b':2,'c':3}
dict2={'d':4,'e':5,'f':6}
dict3={'g':7,'h':8,'i':9}

merge_dict(dict1,dict2,dict3)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6, 'g': 7, 'h': 8, 'i': 9}

23. Write a function to find the first non-repeating character in a string.

In [46]:
def first_non_repeating(li):
    for i in li:
        if(li.count(i)==1):
            return i
    return none

In [47]:
list1=[2,2,1,3,3,3,2,2,2,2,4,2,8]
first_non_repeating(list1)

1

24. Write a program to print the multiplication table of a number.

In [48]:
def multiple_table(n):
    for i in range(1,11):
        print(n, "*", i ,"=" ,n*i)

In [49]:
multiple_table(5)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

25. Write a function to find the largest palindrome in a string.

In [50]:
def palindrome(a):
    x=a.split()
    li1=[]
    for item in x:
        if(item==item[: :-1]):
            li1.append(item)
    return li1

def largest_palindrome(b):
    x=palindrome(b)
    return max(x,key=len)

In [51]:
a="radar hhoolloohh hello"
largest_palindrome(a)

'hhoolloohh'

26. Write a program to remove all spaces from a string.

In [53]:
def remove_space(a):
    return a.replace(" ","")

In [55]:
al="He ll"
remove_space(al)

'Hell'

27. Write a function to check if a number is a prime number.

In [69]:
def is_prime(a):
    if(a<2):
        return "This no. is not prime"
    count=0
    for i in range(1,a+1):
        if(a%i==0):
            count+=1
    if(count==2):
        return "This is a prime number"
    else:
        return "This is a not prime number"

In [72]:
is_prime(8)

'This is a not prime number'

28. Write a program to find the factorial of a number iteratively.

In [75]:
def facto(n):
    fact=1
    for i in range(1,n+1):
        fact=fact*i
    return fact

In [80]:
facto(5)

120

29. Write a function to find the sum of the first N even numbers.

In [81]:
def sum_first_n_even(n):
    return n*(n+1)

In [83]:
sum_first_n_even(3)

12

In [86]:
#OR

def sum_first_n_even(a):
    total=0
    current_even=2
    for i in range(a):
        total+=current_even
        current_even+=2
    return total

In [87]:
sum_first_n_even(3)

12

30. Write a program to check if a number is a Armstrong number.

In [90]:
def is_armstrong(a):
    x=str(a)
    sumx=0
    for i in x:
        i=int(i)
        sumx+=(i*i*i)
    if(a==sumx):
        return "Yes, it is a Armstrong number"
    else:
        return "No, it is not a Armstrong number"

In [94]:
is_armstrong(153)

'Yes, it is a Armstrong number'

31. Write a program to calculate the average of a list of numbers.

In [97]:
def list_avg(li):
    return np.average(li)

In [99]:
li1=[1,2,3,4,5]
list_avg(li1)

3.0

32. Write a program to check if a given string is a valid email address.`

In [107]:
import re 
def email_validation(email):
    regex= r'^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$'
    if re.match(regex,email):
        return "This is valid email"
    return "This is not a valid email"

In [110]:
email_validation("jaiswals@imran907@gmailhg...com")

'This is not a valid email'

33. Write a function to calculate the power of a number without using the ** operator.

In [113]:
def power_of_n(n):
    return n*n

In [114]:
power_of_n(6)

36

34. Write a program to find the second smallest number in a list.

In [117]:
def second_largest(lis):
    lis.sort()
    return lis[-2]

In [118]:
li1=[1,4,5,3,2]
second_largest(li1)

4